# Борис Свиридов лаба №1

In [2]:
from datasets import load_dataset

dataset = load_dataset("mstz/compas", "two-years-recidividity")["train"]

C:\Users\Admin\PycharmProjects\NS-GO\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Сильно не углубляясь датасет содержит информацию по преступникам, их характеристикам и информации о том случался ли рецедив, и случался ли рецедив в следующие два года.
### Если сильно, то вот:
* `is_male` - пол.
* `age` - возраст.
* `race` - раса.
* `number_of_juvenile_fellonies` - тяжёлые преступления в юношестве.
* `delice_score` - рейтинг возможности рецедива(американцы считали для каждого заключенного).
* `number_of_juvenile_misdemeanors` - лёгкие преступления в юношестве.
* `number_of_other_juvenile_offenses` - остальные правонарушения в юношестве.
* `number_of_prior_offenses` - количество правонарушений в взрослом возрасте.
* `days_before_screening_arrest` - количество дней между днём ареста и днём оценивания риска рецедива(или наоборот, там не важно впринципе, я её удалил всё равно потом).
* `is_recidivous` - случился ли по итогу рецедив.
* `days_in_custody` - дней под заключением.
* `is_violent_recidivous` - случился ли рецедив с насилием.
* `violence_decile_score` - рейтинг возможности рецедива с насилием.
* `two_year_recidivous` - случился ли рецедив в течении двух лет.

In [3]:
recedivity_set = dataset.to_pandas()
recedivity_set.columns

Index(['is_male', 'age', 'race', 'number_of_juvenile_fellonies',
       'decile_score', 'number_of_juvenile_misdemeanors',
       'number_of_other_juvenile_offenses', 'number_of_prior_offenses',
       'days_before_screening_arrest', 'is_recidivous', 'days_in_custody',
       'is_violent_recidivous', 'violence_decile_score',
       'two_year_recidivous'],
      dtype='object')

In [4]:
recedivity_set

,is_male,age,race,number_of_juvenile_fellonies,decile_score,number_of_juvenile_misdemeanors,number_of_other_juvenile_offenses,number_of_prior_offenses,days_before_screening_arrest,is_recidivous,days_in_custody,is_violent_recidivous,violence_decile_score,two_year_recidivous
0,True,69,Other,0,1,0,0,0,-1,False,7,False,1,0
1,True,34,African-American,0,3,0,0,0,-1,True,10,True,1,1
2,True,44,Other,0,1,0,0,0,0,False,1,False,1,0
3,True,43,Other,0,4,0,0,3,-1,False,12,False,3,0
4,False,39,Caucasian,0,1,0,0,0,-1,False,3,False,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4529,True,20,African-American,0,9,0,0,0,-1,False,20,False,9,0
4530,True,23,African-American,0,7,0,0,0,-1,False,2,False,5,0
4531,True,23,African-American,0,3,0,0,0,-1,False,2,False,5,0
4532,True,57,Other,0,1,0,0,0,-1,False,1,False,1,0
4533,False,33,African-American,0,2,0,0,3,-1,False,1,False,2,0

In [5]:
recedivity_set.describe()

,age,number_of_juvenile_fellonies,decile_score,number_of_juvenile_misdemeanors,number_of_other_juvenile_offenses,number_of_prior_offenses,days_before_screening_arrest,days_in_custody,violence_decile_score,two_year_recidivous
count,4534.000000,4534.000000,4534.000000,4534.00000,4534.000000,4534.000000,4534.000000,4534.000000,4534.000000,4534.000000
mean,35.919056,0.046096,3.975959,0.07124,0.081165,2.696515,2.675342,36.696515,3.338994,0.169166
std,12.169380,0.428256,2.748378,0.40892,0.470655,4.146299,77.565750,160.512553,2.411732,0.374940
min,18.000000,0.000000,-1.000000,0.00000,0.000000,0.000000,-345.000000,0.000000,1.000000,0.000000
25%,26.000000,0.000000,1.000000,0.00000,0.000000,0.000000,-1.000000,1.000000,1.000000,0.000000
50%,33.000000,0.000000,3.000000,0.00000,0.000000,1.000000,-1.000000,2.000000,3.000000,0.000000
75%,44.000000,0.000000,6.000000,0.00000,0.000000,3.000000,-1.000000,16.000000,5.000000,0.000000
max,83.000000,20.000000,10.000000,8.00000,17.000000,38.000000,1057.000000,2683.000000,10.000000,1.000000

### Вообще датасет не original, он уже обработан(куча столбцов ненужных удалили + как я понимаю удалили строки с пропусками). Вот original:

In [8]:
import pandas as pd
orig_dataset = pd.read_csv("compas-scores-two-years.csv")
orig_dataset.columns

Index(['id', 'name', 'first', 'last', 'compas_screening_date', 'sex', 'dob',
       'age', 'age_cat', 'race', 'juv_fel_count', 'decile_score',
       'juv_misd_count', 'juv_other_count', 'priors_count',
       'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_case_number',
       'c_offense_date', 'c_arrest_date', 'c_days_from_compas',
       'c_charge_degree', 'c_charge_desc', 'is_recid', 'r_case_number',
       'r_charge_degree', 'r_days_from_arrest', 'r_offense_date',
       'r_charge_desc', 'r_jail_in', 'r_jail_out', 'violent_recid',
       'is_violent_recid', 'vr_case_number', 'vr_charge_degree',
       'vr_offense_date', 'vr_charge_desc', 'type_of_assessment',
       'decile_score.1', 'score_text', 'screening_date',
       'v_type_of_assessment', 'v_decile_score', 'v_score_text',
       'v_screening_date', 'in_custody', 'out_custody', 'priors_count.1',
       'start', 'end', 'event', 'two_year_recid'],
      dtype='object')

In [9]:
orig_dataset

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7209,10996,steven butler,steven,butler,2013-11-23,Male,1992-07-17,23,Less than 25,African-American,...,5,Medium,2013-11-23,2013-11-22,2013-11-24,0,1,860,0,0
7210,10997,malcolm simmons,malcolm,simmons,2014-02-01,Male,1993-03-25,23,Less than 25,African-American,...,5,Medium,2014-02-01,2014-01-31,2014-02-02,0,1,790,0,0
7211,10999,winston gregory,winston,gregory,2014-01-14,Male,1958-10-01,57,Greater than 45,Other,...,1,Low,2014-01-14,2014-01-13,2014-01-14,0,0,808,0,0
7212,11000,farrah jean,farrah,jean,2014-03-09,Female,1982-11-17,33,25 - 45,African-American,...,2,Low,2014-03-09,2014-03-08,2014-03-09,3,0,754,0,0
7213,11001,florencia sanmartin,florencia,sanmartin,2014-06-30,Female,1992-12-18,23,Less than 25,Hispanic,...,4,Low,2014-06-30,2015-03-15,2015-03-15,2,0,258,0,1

### Тут я через zscore делаю ибо там в данных куча людей не совершали ничего противозаконного в детстве и => квартили тупа 0 выходят.

In [10]:
from scipy import stats
import numpy as np

Z_THRESHOLD = 3

recedivity_set_with_z = recedivity_set.copy()

scores = ["age", "number_of_juvenile_fellonies", "number_of_juvenile_misdemeanors", "number_of_other_juvenile_offenses", "number_of_prior_offenses", "days_in_custody"]

for score in scores:
    recedivity_set_with_z["Z-score-" + score] = np.abs(stats.zscore(recedivity_set_with_z[score]))

recedivity_set_inline_z = recedivity_set_with_z.copy()
recedivity_set_outline_z = pd.DataFrame()

for score in scores:
    recedivity_set_outline_z = pd.concat([recedivity_set_outline_z, recedivity_set_inline_z[recedivity_set_inline_z["Z-score-" + score] > Z_THRESHOLD]])
    recedivity_set_inline_z = recedivity_set_inline_z[recedivity_set_inline_z["Z-score-" + score] <= Z_THRESHOLD]

In [18]:
recedivity_set_inline_z

,is_male,age,race,number_of_juvenile_fellonies,decile_score,number_of_juvenile_misdemeanors,number_of_other_juvenile_offenses,number_of_prior_offenses,days_before_screening_arrest,is_recidivous,days_in_custody,is_violent_recidivous,violence_decile_score,two_year_recidivous,Z-score-age,Z-score-number_of_juvenile_fellonies,Z-score-number_of_juvenile_misdemeanors,Z-score-number_of_other_juvenile_offenses,Z-score-number_of_prior_offenses,Z-score-days_in_custody
0,True,69,Other,0,1,0,0,0,-1,False,7,False,1,0,2.718675,0.107649,0.174233,0.172469,0.650414,0.185031
1,True,34,African-American,0,3,0,0,0,-1,True,10,True,1,1,0.157713,0.107649,0.174233,0.172469,0.650414,0.166339
2,True,44,Other,0,1,0,0,0,0,False,1,False,1,0,0.664112,0.107649,0.174233,0.172469,0.650414,0.222415
3,True,43,Other,0,4,0,0,3,-1,False,12,False,3,0,0.581930,0.107649,0.174233,0.172469,0.073202,0.153877
4,False,39,Caucasian,0,1,0,0,0,-1,False,3,False,1,0,0.253200,0.107649,0.174233,0.172469,0.650414,0.209954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4529,True,20,African-American,0,9,0,0,0,-1,False,20,False,9,0,1.308268,0.107649,0.174233,0.172469,0.650414,0.104031
4530,True,23,African-American,0,7,0,0,0,-1,False,2,False,5,0,1.061721,0.107649,0.174233,0.172469,0.650414,0.216185
4531,True,23,African-American,0,3,0,0,0,-1,False,2,False,5,0,1.061721,0.107649,0.174233,0.172469,0.650414,0.216185
4532,True,57,Other,0,1,0,0,0,-1,False,1,False,1,0,1.732485,0.107649,0.174233,0.172469,0.650414,0.222415
4533,False,33,African-American,0,2,0,0,3,-1,False,1,False,2,0,0.239895,0.107649,0.174233,0.172469,0.073202,0.222415

### Тут я корреляцию для `days_before_screening_arrest` делаю, чтобы обосновать почему я её не использую(маленькая)

In [11]:
corr = recedivity_set_inline_z["days_before_screening_arrest"].corr(recedivity_set_inline_z["two_year_recidivous"])
print(corr)

0.03460274448363888

### Оставляю характеристики и переменную `two_year_recidivous`, которую будем предсказывать.

In [12]:
cleaned_recedivity_set = recedivity_set_inline_z[["is_male", "age", "race", "number_of_juvenile_fellonies", "number_of_juvenile_misdemeanors", "number_of_other_juvenile_offenses", "number_of_prior_offenses", "days_in_custody", "two_year_recidivous"]]

cleaned_recedivity_set = pd.get_dummies(cleaned_recedivity_set, columns = ["race"], prefix = ["race"])

cleaned_recedivity_set

,is_male,age,number_of_juvenile_fellonies,number_of_juvenile_misdemeanors,number_of_other_juvenile_offenses,number_of_prior_offenses,days_in_custody,two_year_recidivous,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other
0,True,69,0,0,0,0,7,0,False,False,False,False,False,True
1,True,34,0,0,0,0,10,1,True,False,False,False,False,False
2,True,44,0,0,0,0,1,0,False,False,False,False,False,True
3,True,43,0,0,0,3,12,0,False,False,False,False,False,True
4,False,39,0,0,0,0,3,0,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4529,True,20,0,0,0,0,20,0,True,False,False,False,False,False
4530,True,23,0,0,0,0,2,0,True,False,False,False,False,False
4531,True,23,0,0,0,0,2,0,True,False,False,False,False,False
4532,True,57,0,0,0,0,1,0,False,False,False,False,False,True
4533,False,33,0,0,0,3,1,0,True,False,False,False,False,False

In [13]:
cleaned_recedivity_set

,is_male,age,number_of_juvenile_fellonies,number_of_juvenile_misdemeanors,number_of_other_juvenile_offenses,number_of_prior_offenses,days_in_custody,two_year_recidivous,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other
0,True,69,0,0,0,0,7,0,False,False,False,False,False,True
1,True,34,0,0,0,0,10,1,True,False,False,False,False,False
2,True,44,0,0,0,0,1,0,False,False,False,False,False,True
3,True,43,0,0,0,3,12,0,False,False,False,False,False,True
4,False,39,0,0,0,0,3,0,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4529,True,20,0,0,0,0,20,0,True,False,False,False,False,False
4530,True,23,0,0,0,0,2,0,True,False,False,False,False,False
4531,True,23,0,0,0,0,2,0,True,False,False,False,False,False
4532,True,57,0,0,0,0,1,0,False,False,False,False,False,True
4533,False,33,0,0,0,3,1,0,True,False,False,False,False,False

### В конце делаем лог. регрессию и оставляем наилучшие хар-ки. Используем f1 для этого ибо по accuracy будет строиться модель которая тупа false всегда предсказывает, так как большинство уважаемых арестантов новых преступлений в течении двух лет после отсидки не совершали. По этой же причини кста используем `class_weight="balanced"` в пар.-х регрессии.

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

RANDOM_SEED = 248
MAX_ITER = 1000

model = LogisticRegression(random_state=RANDOM_SEED, max_iter=MAX_ITER, class_weight="balanced")
mask = list(cleaned_recedivity_set.columns)
mask.remove("two_year_recidivous")
X = cleaned_recedivity_set[mask]
y = cleaned_recedivity_set["two_year_recidivous"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=RANDOM_SEED, stratify=y)

selected_features = []
available_features = mask

best_score = 0

model.fit(X_train[["age"]], y_train)
y_pred = model.predict(X_test[["age"]])
score = f1_score(y_pred, y_test)

best_f1 = 0

for i in range(len(mask)):
    scores = []

    for feature in available_features:
        current_features = selected_features + [feature]

        model.fit(X_train[current_features], y_train)
        y_pred = model.predict(X_test[current_features])
        f1 = f1_score(y_test, y_pred)
        scores.append((f1, feature))

    best_f1_iter, best_feature = max(scores)
    selected_features.append(best_feature)
    available_features.remove(best_feature)

    if best_f1_iter > best_f1:
        best_f1 = best_f1_iter
    else:
        break

selected_features

['days_in_custody', 'number_of_prior_offenses', 'age', 'race_Native American']